@page "/about"
@inject ThemeService ThemeService

<PageTitle>About Us</PageTitle>

<div class="container-fluid my-3">

  <h1 class="text-center fw-bold py-3 h1  fs-1">About the Image Archive Project</h1>
  <hr />
  <p class="fs-4">
    Welcome to the Image Archive Project – a platform aimed at empowering researchers and field science professionals by providing intuitive access to a vast collection of environmental imagery data.
  </p>
</div>

@code {
  protected override void OnInitialized()
  {
    ThemeService.StateChanged += StateHasChanged;
  }

  private string GetTheme()
  {
    return ThemeService.State ? "bg-body-tertiary" : "custom-color-bg-dm-secondary";
  }

  public void Dispose()
  {
    ThemeService.StateChanged -= StateHasChanged;
  }
}








