@page "/about"
@inject ThemeService ThemeService

<PageTitle>About Us</PageTitle>

<div class="container-fluid my-3">

  <h1 class="text-center fw-bold py-3 h1  fs-1">About the Image Archive Project</h1>
  <hr />
  <p class="fs-4">
    Welcome to the Image Archive Project – a platform aimed at empowering researchers and field science professionals by providing intuitive access to a vast collection of environmental imagery data. Developed by a team of passionate students from the University of Nevada, Reno, this project addresses the unique challenges of accessing, organizing, and analyzing large-scale image data collected across Nevada's scientific field stations.
  </p>

  <div class="text-center my-3">
    <h2 class="h2">Team #19 - Image Archive</h2>
    <p class="my-2 fs-4">This project is a CS 426 Senior Project in Computer Science, Spring 2025, Department of Computer Science and Engineering, University of Nevada, Reno. Instructed by Dave Feil-Seifer, Vinh Le, and Sara Davis.</p>
    <p class="my-2 fs-4">Externally advised by Scotty Strachan, Principal Research Engineer, System Computing Services, Nevada System of Higher Education.</p>
  </div>

  <div class="my-3 row">
    <h2 class="text-center pt-4 h2">Wyatt Haley</h2>
    <div class="col text-center my-3 pb-4">
      <img src="/images/profile_placeholder.png" alt="Wyatt" width="266" height="266" />
    </div>
    <div class="col align-self-center my-3">
      <p class="fs-4">
        Wyatt has full-stack project experience and will participate in the entire application development process including system design, backend development, frontend development, database design, hosting, and deployment.
      </p>
    </div>
  </div>

  <div class="my-3 row">
    <h2 class="text-center pt-4 h2 ">AJ Di Diana</h2>
    <div class="col text-center my-3 pb-4">
      <img src="/images/profile_placeholder.png" alt="AJ" width="266" height="266" />
    </div>
    <div class="col align-self-center my-3">
      <p class="fs-4">AJ is passionate about cybersecurity and will be focusing on the security aspects of the project such as authentication and authorization. </p>
    </div>
  </div>

  <div class="my-3 row ">
    <h2 class="text-center pt-4 h2">Pat Lehr</h2>
    <div class="col text-center my-3 pb-4">
      <img src="/images/profile_patrick.jpg" alt="Patrick" class="about-image rounded" width="277" height="384" />
    </div>
    <div class="col align-self-center my-3">
      <p class="fs-4">Pat has strengths in object-oriented programming and firmware engineering. He is focused on adding robust testing to the application and aiding in the development of the user interface.</p>
    </div>
  </div>

  <div class="my-3 row ">
    <h2 class="text-center pt-4 h2 ">Nate Michelotti</h2>
    <div class="col text-center my-3 pb-4">
      <img src="/images/profile_placeholder.png" alt="Nate" class="about-image" width="266" height="266" />
    </div>
    <div class="col align-self-center my-3">
      <p class="fs-4">
        Nate specializes in machine learning and data science. He will work on integrating machine learning extensions that can categorize images and detect anomalies.
      </p>
    </div>
  </div>

  <div class="my-3">
    <h2 class="text-center h2">Project Mission</h2>
    <p class="fs-4">
      Our mission is to bridge the gap between data collection and data utilization by providing a centralized, accessible, and user-friendly image repository platform. In an era where the volume of data is exploding, especially within environmental and field sciences, researchers face the challenge of accessing specific datasets from fragmented storage systems. This platform aims to simplify data retrieval, enhance research productivity, and foster collaboration across interdisciplinary teams.
    </p>
    <p class="fs-4">
      Our vision is to set a new standard for data accessibility within environmental research communities. This application aims to assist in advancing research by delivering a platform that integrates into the workflows of researchers.
    </p>
  </div>

  <div class="my-3">
    <h2 class="text-center h2">Key Features and Capabilities</h2>
    <p class="fs-4">
      The Image Archive Project is designed with a range of features:
    </p>
    <ul class="custom-feature-list fs-4">
      <li><strong>Advanced Search Filters:</strong> Users can filter images based on various constraints, enabling quick access to specific data points.</li>
      <li><strong>Role-Based Access Control:</strong> Tailored access levels ensure data security and allow administrators to manage user permissions effectively.</li>
      <li><strong>Pagination and Previews:</strong> Paginated results with thumbnail previews allow users to browse data quickly.</li>
      <li><strong>Machine Learning Extensions:</strong> Future capabilities include using machine learning for image categorization and anomaly detection.</li>
    </ul>
  </div>

  <div class="my-3">
    <h2 class="text-center h2">Our Commitment to the Research Community</h2>
    <p class="fs-4">
      The Image Archive Project was born from a genuine need within the research community for a better way to access and utilize environmental imagery data. We remain dedicated to refining and expanding the platform, taking user feedback seriously to ensure it continues to meet the evolving demands of researchers. This is more than a project; it’s a mission to advance environmental research and collaboration.
    </p>
  </div>
</div>

@code {
  protected override void OnInitialized()
  {
    ThemeService.StateChanged += StateHasChanged;
  }

  private string GetTheme()
  {
    return ThemeService.State ? "bg-body-tertiary" : "custom-color-bg-dm-secondary";
  }

  public void Dispose()
  {
    ThemeService.StateChanged -= StateHasChanged;
  }
}








