@page "/about"
@inject ThemeService ThemeService

<PageTitle>About</PageTitle>

<div class="container-fluid my-3">
    <h1 class="text-center fw-bold py-3 h1">About the Image Archive</h1>
    <hr />
    <p class="fs-4 my-3">
        The Image Archive is a platform aimed at empowering researchers and scientific professionals by providing access to a collection of environmental imagery data taken at field monitoring stations positioned across the Nevada Great Basin. 
    </p>
    <p class="fs-4 my-3">
        This is an extension of the <a href="https://nevcan.dri.edu/" rel="external" target="_blank" class="d-inline">NevCAN project</a>.
    </p>
    <p class="fs-4 my-3">
        Meet the <a href="https://scs.nevada.edu/research-engineering/" rel="external" target="_blank" class="d-inline">Research Engineering Team</a> at the Nevada System of Higher Education responsible for this application.
    </p>
</div>

@code {
  protected override void OnInitialized()
  {
    ThemeService.StateChanged += StateHasChanged;
  }

  private string GetTheme()
  {
    return ThemeService.State ? "bg-body-tertiary" : "custom-color-bg-dm-secondary";
  }

  public void Dispose()
  {
    ThemeService.StateChanged -= StateHasChanged;
  }
}








