.custom-faq-question {
    color: var(--custom-color-link-primary);
    cursor: pointer;
    transition: color 0.3s ease;
}
    .custom-faq-question:hover{
        text-decoration: underline;
    }

.custom-faq-answer {
    display: none;
}