@inherits LayoutComponentBase
@inject ThemeService ThemeService


<main>
    <div class="container-xxl my-3">
        <NavMenu />
    </div>

    <div class="container-xxl my-3">
        @Body
    </div>

    <div class="container-xxl my-3">
        <Footer />
    </div>
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    protected override void OnInitialized()
    {
        ThemeService.StateChanged += StateHasChanged;
    }

    private string GetTheme()
    {
        return ThemeService.State ? "custom-color-bg-primary" : "custom-color-bg-dm-primary";
    }

    public void Dispose()
    {
        ThemeService.StateChanged -= StateHasChanged;
    }
}