<nav class="navbar navbar-expand-md bg-body-tertiary rounded">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavBar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="mainNavBar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link rounded" href="/" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link rounded" href="http://localhost:8080/swagger">
                        Swagger
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>