@page "/Account/AccessDenied"

<div class="row custom-body-content-wrapper align-items-center justify-content-center text-center" id="access-denied-container">
    <div class="col">
        <h1 class="text-bg-danger">403</h1>
        <h3>Access Denied</h3>
        <h5>You're not authorized to reach this page.</h5>
    </div>
</div>